.Modal-bg{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}
.Modal-Content{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 60%;
    height: 70%;
    z-index: 5;
    border-radius: 6px;
    animation: 0.5s ease-in fadeIn 1 forwards;
    span{
        font-size: 1.6rem;
        &:hover{
            cursor: pointer;
            color: red;
        }
    }
}
.Modal-Body{
    display: flex;
    flex-direction: column;
}