.Nav{
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
.Nav-Flex{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}
.Nav-Links{
    text-decoration: none;
    &:hover{
        background-color: white;
        transition: all .3s ease-in-out;
    }
    span{
        display: none;
    }
}
@media only screen and (min-width: 768px){
    .Nav{
        left: 0;
        height: 100%;
        width: 70px;
        transition: all .4s ease-in-out;
        span{
            display: none;
            margin-left: 3rem;
        }
        &:hover{
            width: 16rem;
            span{
                display: block;
            }
        }
    }
    .Nav-Flex{
        flex-direction: column;
        height: 100%;
        li{
            width: 100%;
        }
        li:nth-child(1){
            margin-bottom: 20vw;
        }
        justify-content: initial;
    }
    .Nav-Links{
        display: flex;
        align-items: center;
        height: 5rem;
        padding-left: 1rem;
    }
}