@import "/colors";

.Card-bg{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
    img{
        height: 100%;
        width: 100%;
    }
    &:hover{
        img{
            transition: all .5s ease;
            opacity: 0.3;
        }
    }
    position: relative;
}
.Card-Header{
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all .5s ease;
    button{
        visibility: hidden;
    }
    a{
        visibility: hidden;
    }
    &:hover{
        transition: all .5s ease;
        button{
            text-align: center;
            text-decoration: none;
            visibility: visible;
            background: none;
            border-style: solid;
            border-color: $Lowest;
            font-size: 1rem;
            background-color: $Secondary;
            padding: 20px;
            width: 25%;
            border-radius: 3px;
            transition: all .3s ease;
            color: white;
            &:hover{
                border-radius: 30px;
                border-color: $Primary;
                transition: all .3s ease;
            }
        }
        a{
            text-align: center;
            text-decoration: none;
            visibility: visible;
            background: none;
            border-style: solid;
            border-color: $Lowest;
            font-size: 1rem;
            background-color: $Secondary;
            padding: 20px;
            width: 19%;
            border-radius: 3px;
            transition: all .3s ease;
            color: white;
            text-decoration: none;
            &:hover{
                border-radius: 30px;
                border-color: $Primary;
                transition: all .3s ease;
            }
        }
    }
}
@media only screen and (min-width: 768px){
    .Card-bg{
        width: 50%;
    }
}