.Card-bg{
    width: 25vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
}
.Card-Header{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        height: 30vh;
        width: 20vw;
    }
}