@import '/colors';

.Tech{
    background-color: $Primary;
    width: 5vw;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    color: $Lowest;
    justify-content: center;
    font-size: 1.2vw;
}